* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    font-size: 2.3rem;
    padding: 0.7em;
    margin: 1em;
    color: blueviolet;
}

.flexContainer {
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    margin: 3em auto;
}

.infoUsuario {
    font-size: 1rem;
    margin-bottom: 1em;
    font-size: 1.5rem;
    color: red;
}

.btn {
    cursor: pointer;
    padding: 0.5em 1em;
    margin: 1em 2em 1.5em 2em;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: blueviolet;
    color: white;
}

.btn:hover {
    opacity: 80%;
}

p {
    font-size: 1.8rem;
    color: blue;
    font-style: italic;
}

.userContainer {
    padding: 1em;
}